.docs-wrapper:root,
.blog-wrapper:root {
  --primary-font-sans: 'Inter';
}

.bluepipe-prose {
  max-width: 100% !important;
  @apply prose prose-invert font-normal;
  @apply 2xl:prose-base;
  @apply prose-strong:text-gray-700;
  @apply prose-a:text-bluepipe-link-light   prose-a:font-normal;

  @apply prose-h1:font-semibold;
  @apply prose-h1:text-gray-900;
  @apply prose-h1:text-[1.25rem] prose-h1:leading-[1.75rem];
  @apply sm:prose-h1:text-[2.5rem] sm:prose-h1:leading-[3rem];
  @apply prose-h1:mb-4 sm:prose-h1:mb-8;

  @apply prose-h2:font-semibold;
  @apply prose-h2:text-gray-800;
  @apply prose-h2:text-[1rem] prose-h2:leading-[1.5rem];
  @apply sm:prose-h2:text-[2rem] sm:prose-h2:leading-[2.5rem];
  @apply prose-h2:mb-4 sm:prose-h2:mb-6;

  @apply prose-h3:font-semibold;
  @apply prose-h3:text-gray-700;
  @apply prose-h3:text-[0.875rem] prose-h3:leading-[2.5rem];
  @apply sm:prose-h3:text-[1.5rem] sm:prose-h3:leading-[2rem];
  @apply prose-h3:mb-4 sm:prose-h3:mb-6;

  @apply prose-h4:font-semibold;
  @apply prose-h4:text-gray-600;
  @apply prose-h4:text-[0.75rem] prose-h4:leading-[1.33rem];
  @apply sm:prose-h4:text-[1.33rem] sm:prose-h4:leading-[1.75rem];
  @apply prose-h4:mb-4 sm:prose-h4:mb-6;

  @apply prose-p:text-gray-700 prose-p:mb-5 prose-p:mt-0;
  @apply prose-p:text-base sm:prose-p:leading-7;

  @apply prose-li:text-sm sm:prose-li:text-base;
  @apply prose-li:my-0 2xl:prose-li:text-base;
  @apply prose-ul:pl-8 prose-ul:ml-0  prose-ul:text-gray-700;
  @apply prose-ol:pl-8 prose-ol:ml-0  prose-ol:text-gray-700;

  @apply prose-blockquote:last:mb-0 prose-blockquote:border-l-4 prose-blockquote:rounded-lg prose-blockquote:p-4 prose-blockquote:font-normal prose-blockquote:not-italic;
  @apply prose-blockquote:bg-gray-50 prose-blockquote:text-gray-700 prose-blockquote:border-l-gray-400;

  @apply prose-code:text-[0.625rem] prose-code:leading-[0.75rem] sm:prose-code:text-[0.75rem] sm:prose-code:leading-[1.0625rem] lg:prose-code:text-[0.875rem] lg:prose-code:leading-[1.125rem];
  @apply prose-code:text-gray-700 prose-code:bg-gray-200;
  @apply prose-code:px-1.5 prose-code:pt-[2px] prose-code:pb-[3px] prose-code:rounded prose-code:font-mono prose-code:before:content-none prose-code:after:content-none;
  @apply prose-code:font-normal;
  @apply prose-code:decoration-clone;
  @apply prose-code:border-none;

  @apply max-w-none;
}

/* .bluepipe-prose *:last-child:not(header h1) {
    margin-bottom: 0;
} */

.bluepipe-prose h1 code,
.bluepipe-prose h2 code,
.bluepipe-prose h3 code {
  font-size: inherit;
  line-height: inherit;
  vertical-align: bottom;
}

.bluepipe-prose blockquote,
.bluepipe-prose blockquote p {
  @apply before:content-none after:content-none;
}

.bluepipe-prose table {
  @apply hover table !important;
}

.bluepipe-prose tr,
.bluepipe-prose th,
.bluepipe-prose td {
  @apply border-none !important;
}

.bluepipe-prose thead tr:first-child,
.bluepipe-prose tbody tr:last-child {
  border-bottom: 1px solid var(--color-border-muted) !important;
}
.bluepipe-prose table {
  border-spacing: 0;
  @apply table border-none !important;
}

.bluepipe-prose table tr {
  border-top: unset;
}

.bluepipe-prose table th,
.bluepipe-prose table td {
  @apply border-gray-200 px-2 py-2 text-gray-900;
  @apply text-sm;
}

.bluepipe-prose table th {
  @apply font-semibold text-gray-900;
  @apply text-sm;
}

.bluepipe-prose table th code {
  @apply text-sm;
}

.bluepipe-prose table tbody tr:nth-child(odd) {
  @apply bg-gray-50 bg-opacity-10;
}

.bluepipe-prose table tbody tr:nth-child(even) {
  @apply bg-gray-50;
}

.bluepipe-prose table thead {
  @apply bg-gray-50;
}

.bluepipe-prose table thead th {
  border-bottom: 1px solid #d3d4d7 !important;
}
.bluepipe-toc-item {
  @apply cursor-pointer;
}

.bluepipe-toc-item code::before,
.bluepipe-toc-item code::after {
  content: '';
}

.bluepipe-toc-item code {
  @apply rounded !border-none py-0.5 px-1 !align-bottom font-mono !text-inherit;
  font-size: 12px;
}

a:has(> code) {
  text-decoration: none !important;
}

a:has(> code) code {
  @apply !text-bluepipe-link-light  !align-text-bottom;
}

p:has(> code) code {
  @apply mx-0.5 !align-text-bottom;
}

li a:has(> code) code {
  @apply !mx-0 !align-text-bottom;
}

.admonition.admonition-caution code {
  @apply bg-[#F2800D] bg-opacity-[15%];
}

.admonition.admonition-caution a {
  @apply text-[#CC6600];
}

.admonition.admonition-caution a code {
  @apply !text-[#CC6600];
}

.admonition.admonition-caution li::marker {
  @apply text-[#CC6600] text-opacity-50;
}

.admonition.admonition-danger code {
  @apply bg-bluepipe-red bg-opacity-[15%];
}

.admonition.admonition-danger a {
  @apply text-bluepipe-red;
}

.admonition.admonition-danger a code {
  @apply !text-bluepipe-red;
}

.admonition.admonition-info code {
  @apply bg-bluepipe-blue/10 bg-opacity-[15%];
}

.admonition.admonition-info a {
  @apply text-bluepipe-blue;
}

.admonition.admonition-info li::marker {
  @apply text-bluepipe-blue  text-opacity-50;
}

.admonition.admonition-tip code {
  @apply bg-bluepipe-green bg-opacity-[15%];
}

.admonition.admonition-tip a {
  @apply text-bluepipe-green;
}

.admonition.admonition-tip a code {
  @apply !text-bluepipe-green;
}

.admonition.admonition-tip li::marker {
  @apply text-bluepipe-green text-opacity-50;
}

.admonition.admonition-note code {
  @apply bg-bluepipe-cyan bg-opacity-[15%];
}

.admonition.admonition-note a {
  @apply text-bluepipe-cyan;
}

.admonition.admonition-note a code {
  @apply !text-bluepipe-cyan;
}

.admonition.admonition-note li::marker {
  @apply text-bluepipe-cyan text-opacity-50;
}

.admonition.admonition-additional code {
  @apply bg-bluepipe-cyan bg-opacity-20;
}

.admonition.admonition-additional a {
  @apply text-bluepipe-cyan;
}

.admonition.admonition-info-tip code {
  @apply bg-bluepipe-blue bg-opacity-20;
}

.admonition.admonition-info-tip a {
  @apply text-bluepipe-blue;
}

.admonition pre.prism-code code {
  @apply bg-transparent;
}

.bluepipe-details > summary + div > div {
  @apply mt-0 border-t-0 pt-0;
}

.bluepipe-details-content {
  @apply p-4;
}

.bluepipe-details .bluepipe-details-content > div > *:last-child {
  @apply !mb-0;
}

.bluepipe-details > summary .bluepipe-details-triangle {
  @apply transition-transform duration-200 ease-in-out;
  @apply -rotate-90;
}

.bluepipe-details[open] > summary .bluepipe-details-triangle {
  @apply rotate-0;
}

.max-w-screen-content {
  @apply max-w-screen-content-sm md:max-w-screen-content-md 2xl:max-w-screen-content-2xl;
}

html .no-underline {
  text-decoration: none;
}

html[data-active-page='index'],
html[data-active-page='index'] body {
  @apply bg-gray-800;
}

@keyframes element-animation {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.landing-hero-mobile-svg .auth,
.landing-hero-mobile-svg .backend,
.landing-hero-mobile-svg .framework,
.landing-hero-mobile-svg .platform {
  opacity: 0;
  animation: element-animation 24s infinite;
  will-change: opacity;
}

.landing-hero-mobile-svg .nextjs {
  animation-delay: 0s;
}

.landing-hero-mobile-svg .vite {
  animation-delay: 8s;
}

.landing-hero-mobile-svg .remix {
  animation-delay: 16s;
}

.landing-hero-mobile-svg .mui {
  animation-delay: -3s;
}

.landing-hero-mobile-svg .antd {
  animation-delay: 5s;
}

.landing-hero-mobile-svg .chakra {
  animation-delay: 13s;
}

.landing-hero-mobile-svg .supabase {
  animation-delay: -6s;
}

.landing-hero-mobile-svg .nest {
  animation-delay: 2s;
}

.landing-hero-mobile-svg .appwrite {
  animation-delay: 10s;
}

.landing-hero-mobile-svg .google {
  animation-delay: -9s;
}

.landing-hero-mobile-svg .auth0 {
  animation-delay: -1s;
}

.landing-hero-mobile-svg .strapi {
  animation-delay: 7s;
}

.animation-parent {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}

.sp-preview .sp-loading {
  display: none;
}

.sp-preview .sp-custom-loading {
  display: none;
}

.sp-preview .sp-loading + .sp-custom-loading {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  /* background: white; */
  z-index: calc(var(--sp-zIndices-top) + 1);
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.sp-icon-standalone[title='Open in CodeSandbox'] svg + span {
  display: none;
}
button.sp-button.sp-icon-standalone[title='Open in CodeSandbox']:has(svg + span) {
  padding-left: 0px;
  padding-right: 4px;
  width: 26px;
}

.bluepipe-tab-content > *:last-child {
  @apply mb-0;
}

